@charset "UTF-8";

:root {
    --top-position: 101px;
    --left-position: 0px;
}

html {
    scroll-behavior: smooth;
    width: 100%;
}

a:hover {
    opacity: 0.6;
}

.wrapper {
    max-width: 1200px; /* 最大幅を1200pxに設定 */
    width: 100%; /* 幅を100%に設定 */
    margin: 0 auto; /* 中央揃え */
    padding: 0 20px; /* 内側の余白を設定 */
}

.flex-container {
    display: flex;
    align-items: center /* 子要素を垂直方向に中央揃え */
}

.flex-container-start{
    display: flex;
    align-items: flex-start
}

.flex-container--center {
    display: flex;
    align-items: baseline; /* 子要素を垂直方向に中央揃え */
    justify-content: center;
}

.flex-container--space-between {
    justify-content: space-between; /* 子要素間のスペースを均等に配置 */
}

main {
    width: 100%;
    margin-top: 101px;
}

.top {
    position: fixed; /* 固定配置 */
    top: 0;          /* 上から0pxの位置 */
    left: 0;         /* 左から0pxの位置 */
    opacity: 1;      /* 不透明度を1に設定 */
    background-color: #ffffff; /* 背景色を設定 */
    width: 100%;
    height: 101px; /* 高さを101pxに設定 */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3); /* 下に影をつける */
    margin-bottom: 10px; /* 上下の余白を追加 */
    z-index: 1000; /* 上に来るようにz-indexを設定 */
}
.top__wrapper {
    max-width: 1200px; /* 最大幅を1200pxに設定 */
    width: 100%; /* 幅を100%に設定 */
    margin: 0 auto; /* 中央揃え */
    padding: 0 20px; /* 内側の余白を設定 */
}

.top__title {
    margin-top: 28px; /* 上側の余白を28pxに設定 */
    margin-bottom: 28px; /* 下側の余白を28pxに設定 */
}

.top__title-text {
    font-size:  32px; /* フォントサイズ*/
    font-weight: bold; /* 太字に設定 */
    font-family: 'poppins', sans-serif; /* フォントをpoppinsに設定 */
    color: #4169E1;
}

.hamburger {
    display: none; /* ハンバーガーメニューを非表示 */
    width: 70px; /* 幅を70pxに設定 */
    height: 71px;
    margin-top: -7px;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* 子要素を垂直方向に中央揃え */
    gap: 8px; /* 子要素間のスペースを8pxに設定 */
    background: rgb(0,91,172);
    border: none;
    cursor: pointer;
    padding: 0;
}

.hamburger span {
    display: block;
    width: 55%;
    height: 4px;
    background-color: white;
    border-radius: 2px;
    transition: 0.3s;
}

.top__menu {
    width: 63%;
    gap: 5%; /* 子要素間のスペースを48pxに設定 */
}

.top__nav {
    width: 60%;
}

.top__nav-list {
    gap: 10px 5%;
    flex-wrap: wrap;
}

.list-content {
    font-size: 20px;  /* フォントサイズを20pxに設定 */
    font-weight: 500; /* 中程度の太さに設定 */
    font-family: 'Noto Sans JP', sans-serif; /* フォントをNoto Sans JPに設定 */
}

.nav-list__left {
    width: 180px;
}

.nav-list__center {
    width: 119px
}

.nav-list__right {
    width: 45px
}

.top__cta-signup {
    width: 282px; /* 幅を設定 */
    height: 40%;
}

.buttun_support {
    width: 340px; /* 幅を設定 */
    height: 75px;
}

.cta-signup {
    padding: 15px 2%; /* 内側の余白を設定 */
    margin-top: 20px; /* 上側の余白を20pxに設定 */
    margin-bottom: 20px; /* 下側の余白を20pxに設定 */
    background: linear-gradient(to right, #0271E0, #53A2F0); /* 青色から透明へのグラデーション */
    display: grid;
    place-items: center;
    border-radius: 100px; /* 角丸を100pxに設定 */
}

.cta-signup__link {
    font-size: min(20px, 10px + 2vw); /* フォントサイズを20pxに設定 */
    font-weight: bold; /* 太字に設定 */
    font-family: 'Noto Sans JP', sans-serif; /* フォントをNoto Sans JPに設定 */
    color: white; /* 文字色を白に設定 */
}

.section01__img {
    width: 100%;
    max-width: 1920px;
    height: 500px;
    max-height: 100%;
    margin: -8px auto 0 auto;
    z-index: 1; /* 下に来るようにz-indexを設定 */
    object-fit: cover;     /* 画像を縮小せずに縦横比を保ちながら切り取る */
    position: absolute;
    top: var(--top-position);
}

.section01 {
    width: 100%; /* 幅を100%に設定 */
    max-width:  1920px;
    margin: 0 auto; /* 中央揃え */
    height: 651px;
}

.section01__foot {
    max-width: 1200px; /* 最大幅を1200pxに設定 */
    width: 100%; /* 幅を100%に設定 */
    margin: 0 auto; /* 中央揃え */
    padding: 0 20px; /* 内側の余白を設定 */
    height: 100%;
}

.img-large {
    width: 100%; /* 幅を100%に設定 */
    height: 100%;
    object-fit: cover;
}

.section01__inner {
    position: absolute; /* 子要素がこの要素を基準に配置されるように設定 */
    top: 15%;
    left: 20%;
    z-index: 2; /* 上に来るようにz-indexを設定 */
    width: 25%; /* 幅を25%に設定 */
    height: 65%;
}

.flex-container-column {
    display: flex;
    flex-direction: column;
    gap: 10%;
}

.feature {
    width: 420px;
    height: 406px;
}

.feature__head {
    width: 325.21px;
    height: 150px;
    gap: 20px;
}

.section01__icon {
    width: 52.6px;
    height: 100%;
    max-height: 100%;
}

.icon {
    width: 100%;
    height: 100%;
}

.icon--reverse {
    transform: scaleX(-1); /* アイコンを水平反転 */
}

.feature__head-text {
    width: 180px;
    height: 133px;
    margin: 9px 0px;
    text-align: center;
    font-size: 20px; /* フォントサイズを20pxに設定 */
    font-weight: 400; /* 中程度の太さに設定 */
    font-family: 'Noto Sans JP', sans-serif; /* フォントをNoto Sans JPに設定 */
    display: flex; /* Flexboxを使用 */
    flex-direction: column; /* 縦に並べる */
}

.feature__head-no {
    width: 122px;
    height: 104px;
    margin: 0 auto;
    padding-top: 20px;
    font-size: 54px; /* フォントサイズを54pxに設定 */
}
.feature__body {
    height: 224px;
    flex-grow: 1; /* 残りの高さを占有 */
}

.feature__body-head {
    height: 48px;
    font-size: 33px; /* フォントサイズを32pxに設定 */
    font-weight: 400; /* 太字に設定 */
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 48px;
}

.feature__body-foot {
    width: 420px;
    height: 172px;
    font-size: 60px; /* フォントサイズを32pxに設定 */
    font-weight: 800; /* 太字に設定 */
    font-family: 'Noto Sans JP', sans-serif;
    color: #005BAC;
    line-height: 78px;
}

.support-bottun {
    position: relative;
    width: 98.8%;
    height: 75px;
    gap:40px;
    margin: -35px auto 8vh auto;
    z-index: 2;
}

.cta-signup--green {
    background: #77CB33
}

.cta-signup--orange {
    background: #F6AA00
}

.cta-signup--mint-green {
    background: #3AC8AD
}

.section02 {
    width : 97%;
    margin: 0 auto 72px auto;
    gap: min(322px, 3vh);
}

.section02__title {
    height: 76px;
    font-size: 36px;
    font-weight: bold;
    font-family: 'Noto Sans JP', sans-serif;
}

.section02__title-accent {
    font-size: 54px;
    padding: 0 1px;
    font-style: normal;
    font-family: 'poppins', sans-serif; /* フォントをpoppinsに設定 */
    font-weight: 800; /* ExtraBold の太さを指定 */
    color: #FF6699;
}

.grit-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 40px;
}


.section02__img {
    width: 100%;
    height: auto;
}

.img-small {
    width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: contain;
}

.section02__text {
    flex: 1 1 calc(50% - 3%);
}

.section02__container-item {
    font-size: 28px;
    margin: 3% 0;
}

.section02__container-accent {
    font-size: min(42px, calc(23px + 1vw));
    padding-left: 1%;
}

.section02__container-sub-title {
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Noto Sans JP', sans-serif;
    margin-bottom: 20px;
}

.section02__container-description {
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 28px;
}

.grit-container03 .section02__container-sub-title {
    width: 100%;
    height: 77px;
    line-height: 38px;
}

.grit-container06 .section02__container-sub-title {
    width: 100%;
    height: auto;
    line-height: 38px;
}

.signup {
    max-width: 1920px;
    width: 100%;
    min-width: 300px;
    height: 23vh;
    max-height: 230px;
    margin-top: min(71px, 7vh);
    margin-left: auto;
    margin-right: auto;
    background: rgb(255,78,78, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-description {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Noto Sans JP', sans-serif;
    padding-top: 56px;
}

.signup-button {
    width: 360px;
    height: 75px;
}


.section03 {
    width: 100%;
    margin: 72px auto;
}

.section03__title {
    font-size: 36px;
    font-weight: 700;
    font-family: 'Noto Sans JP', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}

.section03__tabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section03__tab {
    width: 48.5%;
    height: 75px;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Noto Sans JP', sans-serif;
    display: flex;;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: none;
}

.section03__tab--01 {
    background: #F0F8FF;
}

.section03__tab--02 {
    background: #dcdcdc;
    opacity: 0.5;
}

.section03__contents {
    background: #F0F8FF;
    border-radius: 0 0 15px 15px;
}

.section03__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:  repeat(2, 1fr);
    gap: 1%;
    padding-bottom: 40px;
}


.section03__content01 {
    display: grid;
}

.section03__content02 {
    display: none;
}

.section03__content-left-upper {
    width: 100%;
}

.section03__content-right-upper {
    width: 100%;
}

.section03__content-left-lower {
    width: 100%;
}
.section03__content-right-lower {
    width: 100%;
}

.section03__img01 {
    display: block;
    width: 100%;
    height: auto;
    max-height: 100%;
    padding: 3% 2% 3% 5% ;
    background: #F0F8FF;
    height: auto;
    overflow: hidden;
}

.section03__img01 img {
    transition: transform 0.3s ease; /* 拡大時のアニメーション */
}

.section03__img01 img:hover {
    transform: scale(1.2); /* マウスオーバー時に拡大 */
    z-index: 2;
}

.section03__img02 {
    display: block;
    width: 100%;
    max-height: 100%;
    padding: 3% 5% 3% 2% ;
    background: #F0F8FF;
    transition: transform 0.3s ease; /* 拡大時のアニメーション */
    overflow: hidden;
}

.section03__img02 img {
    transition: transform 0.3s ease; /* 拡大時のアニメーション */
}

.section03__img02 img:hover {
    transform: scale(1.2); /* マウスオーバー時に拡大 */
    z-index: 2;
}

.section03__text {
    width: 89px;
    margin-left: 5%;
    font-size: 20px;
    position: relative;
    display: flex;
    flex-direction: row-reverse; /* 右から左に並べる */
    text-align: center;
    line-height: 29px;
}

.section03__text_big {
    width: 131px;
}

.section03__text__2 {
    margin-left: 3%;
}

.section03__text-02-1 {
    width: 309px;
    height: auto;
}

.section03__text-02-2 {
    width: 269px;
    height: auto;
}

.section03__text-02-3 {
    width: 249px;
    height: auto;
}

.section03__text-02-4 {
    width: 250px;
    height: auto;
}

.section03__text__arrow {
    display: inline-flex;
}

.section03__text__arrow::before {
    content: "";
    font-size: 20px;
    position: absolute;
    top: 8px;
    left: 5px;
    width: 7px;              /* 左矢印の水平部分 */
    height: 7px;             /* 左矢印の垂直部分 */
    border-top: 3px solid #005BAC; /* 左矢印の上辺の太さと色 */
    border-left: 3px solid #005BAC; /* 左矢印の左辺の太さと色 */
    transform: rotate(135deg);
}

.section03__text__arrow::after { /* 棒の表示設定 */
    content: "";
    margin: auto;
    position: absolute;
    top: -3.8px;
    bottom: 0;
    left: 1px;
    width: 14px; /* 棒の長さ */
    height: 3px; /* 棒の太さ */
    background: #005BAC; /* 棒の色 */
}

.section03__text__right {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Noto Sans JP', sans-serif;
}

.background-box {
    background: #F0F8FF;
    width: 100%;
    height: 20px;
}

.section04 {
    width: 600px;
    height: 620px;
    margin: 70px auto;
}

.section04__title {
    font-size: min(36px, calc(17px + 1vw));
    font-weight: bold;
    font-family: 'Noto Sans JP', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}

.cost-table {
    width: 100%;
    border-collapse: collapse; /* 枠線を重ねて表示 */
    border: 5px solid #d3d3d3; /* 枠線を設定 */
    margin-top: 25px;
    font-size: 18px;
    font-weight: normal; /* 太字解除 */
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center; /* テキストを中央揃え */
}

.cost-table__item {
    border: 1px solid #d3d3d3; /* 枠線を設定 */
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 18px;
    font-weight: 400; /* 太字解除 */
}

.cost-table__column {
    background: #f5f5f5;
}

.cost-table__item--left {
    width: 20%;
    height: 74px;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    font-weight: normal; /* 太字解除 */
    font-family: 'Noto Sans JP', sans-serif;
}

.cost-table__item--right {
    width: 80%;
    height: 74px;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    font-weight: normal; /* 太字解除 */
    font-family: 'Noto Sans JP', sans-serif;
}

.middle-text {
    font-size: min(32px, calc(24px + 1vw));
    font-family: 'poppins', sans-serif; /* フォントをpoppinsに設定 */
    font-weight: 700; /* ExtraBold の太さを指定 */
    color: #F23397;
}

.cost-table__value--cost {
    font-size: 18px;
    font-weight: bold; /* 太字に設定 */
    font-family: 'Noto Sans JP', sans-serif;
    color: #F23397;
}

.section05 {
    max-width: 1920px;
    width: 100%;
    display: flex;
    align-items: stretch; /* 子要素のサイズに合わせる */
    margin: 0 auto;
    display: flex;
}

.section05__container {
    width: 50%;
    height: auto;
    position: relative;
    overflow: hidden;
}


.section05__img img{
    max-height: 100%;
    width: 100%;
    height: auto;
    overflow: hidden;
    transition: transform 0.3s ease; /* 拡大時のアニメーション */
    position: relative;
    display: flex;
    align-items: stretch; /* 子要素のサイズに合わせる */
}

.section05__img img:hover {
    transform: scale(1.2); /* マウスオーバー時に拡大 */
    z-index: 2;
}

.image-text {
    text-align: center;/* 水平方向の中央揃え */
    position: absolute; /* 子要素がこの要素を基準に配置されるように設定 */
    top: 50%; /* 上から50%の位置に配置 */
    left: 23%;
    font-size: 32px;
    font-family: 'Noto Sans JP', sans-serif; /* フォントをpoppinsに設定 */
    font-weight: bold; /* ExtraBold の太さを指定 */
    color: white;
    z-index: 2;
}
.foot {
    width: 100%;
    max-width: 1920px;
    height: 120px;
    background: #DDDDDD;
    padding: 50px 0 51px 0;
}

.foot__text {
    width: 340px;
    height: 19px;
    font-size: 13px;
    font-weight: normal;
    font-family: 'poppins', sans-serif;
    margin: 0 auto;
}

.highlight {
    font-family: 'poppins', sans-serif; /* フォントをpoppinsに設定 */
    font-weight: 800; /* ExtraBold の太さを指定 */
    font-style: italic; /* イタリック体を指定 */
    color: #0066CC;
}

.highlight--red {
    color: #F11F8D;
}

.large-text {
    font-size: min(74px, calc(55px + 1vw));
}

